<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos Eletrônicos</title>
</head>
<body>
    <h1>Lista com 10 Produtos Eletrônicos:</h1>
    <ul>
        <li>Smartphone</li>
        <li>Laptop</li>
        <li>Tablet</li>
        <li>Televisão</li>
        <li>Fone de ouvido</li>
        <li>Câmera digital</li>
        <li>Smartwatch</li>
        <li>Console de videogame</li>
        <li>Carregador portátil (Power Bank)</li>
        <li>Caixa de som Bluetooth</li>
    </ul>
</body>
</html>