<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista com 10 Móveis:</h1>
    <ul>
        <li>Sofá</li>
        <li>Cama</li>
        <li>Mesa de jantar</li>
        <li>Cadeira</li>
        <li>Estante</li>
        <li>Guarda-roupa</li>
        <li>Mesa de centro</li>
        <li>Cômoda</li>
        <li>Escrivaninha</li>
        <li>Poltrona</li>
    </ul>
</body>
</html>