<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista com todos os produtos!</h1>
    </ul>
        <h3>Eletrônicos:</h3>
        <li>Smartphone</li>
        <li>Laptop</li>
        <li>Tablet</li>
        <li>Televisão</li>
        <li>Fone de ouvido</li>
        <li>Câmera digital</li>
        <li>Smartwatch</li>
        <li>Console de videogame</li>
        <li>Carregador portátil (Power Bank)</li>
        <li>Caixa de som Bluetooth</li>
        <h3>Móveis:</h3>
        <li>Sofá</li>
        <li>Cama</li>
        <li>Mesa de jantar</li>
        <li>Cadeira</li>
        <li>Estante</li>
        <li>Guarda-roupa</li>
        <li>Mesa de centro</li>
        <li>Cômoda</li>
        <li>Escrivaninha</li>
        <li>Poltrona</li>
    </ul>
</body>
</html>