<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja Cruzeiro Mania - Produtos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="index.html">Loja Cruzeiro Mania</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="produtos/">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="sobre/">Sobre a Loja</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contato/">Contato</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <h2>Produtos Oficiais do Cruzeiro</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img
                      src="https://static.cruzeiro.com.br/produtos/camisa-cruzeiro-ii-2425-sn-torcedor-adidas-masculina/44/FB9-4318-044/FB9-4318-044_zoom1.jpg?ts=1713977543?ims=1088x"
                      class="card-img-top" alt="Camisa Oficial">
                    <div class="card-body">
                        <h5 class="card-title">Camisa Cruzeiro II 24/25 s/n° Torcedor</h5>
                        <p class="card-text">Disponível em todos os tamanhos femininos e masculinos.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img
                      src="https://static.cruzeiro.com.br/produtos/camisa-cruzeiro-infantil-i-2425-sn-torcedor-adidas-masculina/10/FB9-4319-310/FB9-4319-310_zoom1.jpg?ts=1709320592"
                      class="card-img-top" alt="Camisa Infantil">
                    <div class="card-body">
                        <h5 class="card-title">Camisa Cruzeiro Infantil I 24/25 s/n° Torcedor</h5>
                        <p class="card-text">Disponível em todos os tamanhos femininos e masculinos.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img
                      src="https://static.cruzeiro.com.br/produtos/caixa-de-som-multimidia-cruzeiro/08/HQR-0139-008/HQR-0139-008_zoom1.jpg?ts=1627648807"
                      class="card-img-top" alt="Caixa de Som">
                    <div class="card-body">
                        <h5 class="card-title">Caixa De Som Multimidia Cruzeiro</h5>
                        <p class="card-text">Disponível nas cores branco e azul.</p>
                    </div>
                </div>
            </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>