<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja Cruzeiro Mania - Sobre a Loja</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="index.html">Loja Cruzeiro Mania</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="produtos/">Produtos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="sobre/">Sobre a Loja</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contato/">Contato</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <h2>Sobre a Loja Cruzeiro Mania</h2>
        <p>A Loja Cruzeiro Mania é a loja oficial do Cruzeiro Esporte Clube, oferecendo produtos exclusivos para os torcedores celestes. Com uma linha completa de itens como camisas, acessórios e presentes, nosso objetivo é proporcionar uma experiência única para todos os cruzeirenses.</p>
        <img src="https://assets.multiplan.com.br/Multiplan/filer_public/78/40/78402658-38bd-4e54-a237-c15cff679fb6/cruzeiro_-__4.jpg?ims=x800" class="img-fluid" alt="Imagem da Loja" style="width: 100%;">
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>