<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <main>
            <h1>Últimos Posts</h1>
            <article>
                <h3>Página "Sobre"</h3>
                <p>laalallalalalallalalalallalalalalalalallalalallalallalalalalallalalalalalal...</p>
                <a href="/sobre/">Veja aqui</a>
            </article>
            <article>
                <h3>Página "Contato"</h3>
                <p>lalalalalalalallalalallalalallalalalalallalalalalallalalalalalallalalalalalalal...</p>
                <a href="/contato/">Veja aqui</a>
            </article>
        </section>
    </main>
</body>
</html>