<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de testemunhos de alguns funcionários:</h1>
    <ul>
        <li>Fernanda Santos: "Trabalhar aqui tem sido uma experiência incrível. A empresa oferece um ambiente acolhedor e sempre me
        sinto valorizada como profissional."</li>
        <li>Ricardo Almeida: "Gosto muito da cultura organizacional. A empresa incentiva a inovação e o crescimento pessoal, o que
        me motiva a sempre dar o meu melhor."</li>
        <li>Luciana Costa: "O suporte e o trabalho em equipe são excepcionais. Todos estão dispostos a ajudar e colaborar, criando
        um ótimo ambiente de trabalho."</li>
        <li>Mateus Ferreira: "Tenho aprendido muito desde que comecei aqui. A empresa investe em treinamentos e oportunidades de
        desenvolvimento, o que é excelente para minha carreira."</li>
        <li>Carla Nunes: "A liderança é muito acessível e aberta ao diálogo. Sempre senti que minhas opiniões e ideias são
        valorizadas."</li>
    </ul>
</body>
</html>