<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artigos Saúde</title>
</head>

<body>
    <h1>Lista de Artigos sobre Saúde:</h1>
    <ul>
        <li>Avanços na Medicina Regenerativa: O Futuro dos Transplantes - Fala sobre o uso de células-tronco e
            bioimpressão 3D
            para regenerar tecidos e órgãos, oferecendo alternativas aos transplantes convencionais.</li>
        <li>Vacinas de mRNA: Como Funcionam e Suas Aplicações Futuras - Analisa o funcionamento das vacinas de mRNA
            (como as usadas contra a COVID-19) e suas possíveis aplicações no combate a outras doenças.</li>
        <li>A Importância da Atividade Física na Prevenção de Doenças Crônicas - Aborda como o exercício regular pode prevenir
            doenças como diabetes, hipertensão e problemas cardíacos.</li>
    </ul>
</body>

</html>