<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artigos Tecnologia</title>
</head>
<body>
    <h1>Lista de Artigos sobre Tecnologia:</h1>
    <ul>
        <li>Inteligência Artificial e o Futuro do Trabalho - Explora como a IA está mudando o mercado de trabalho, automatizando
            tarefas repetitivas e criando novas oportunidades de emprego.</li>
        <li>O Impacto da Computação Quântica na Segurança Cibernética - Discute como a computação quântica pode revolucionar a
            segurança dos dados, mas também apresenta riscos significativos para os sistemas atuais de criptografia.</li>
        <li>Tecnologia 5G e a Revolução na Conectividade - Analisa como a tecnologia 5G promete transformar a maneira como nos
            conectamos, com impacto em IoT, automação e redes de alta velocidade.</li>
    </ul>
</body>
</html>