<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos os Artigos</title>
</head>
<body>
    <h1>Lista com todos os artigos citados nesse site:</h1>
    <h3>Tecnologia:</h3>
    <ul>
        <li>Inteligência Artificial e o Futuro do Trabalho - Explora como a IA está mudando o mercado de trabalho, automatizando
            tarefas repetitivas e criando novas oportunidades de emprego.</li>
        <li>O Impacto da Computação Quântica na Segurança Cibernética - Discute como a computação quântica pode revolucionar a
            segurança dos dados, mas também apresenta riscos significativos para os sistemas atuais de criptografia.</li>
        <li>Tecnologia 5G e a Revolução na Conectividade - Analisa como a tecnologia 5G promete transformar a maneira como nos
            conectamos, com impacto em IoT, automação e redes de alta velocidade.</li>
    </ul>
    <hr>
    <h3>Saúde</h3>
    <ul>
        <li>Avanços na Medicina Regenerativa: O Futuro dos Transplantes - Fala sobre o uso de células-tronco e
            bioimpressão 3D
            para regenerar tecidos e órgãos, oferecendo alternativas aos transplantes convencionais.</li>
        <li>Vacinas de mRNA: Como Funcionam e Suas Aplicações Futuras - Analisa o funcionamento das vacinas de mRNA
            (como as usadas contra a COVID-19) e suas possíveis aplicações no combate a outras doenças.</li>
        <li>A Importância da Atividade Física na Prevenção de Doenças Crônicas - Aborda como o exercício regular pode prevenir
            doenças como diabetes, hipertensão e problemas cardíacos.</li>
    </ul>
</body>
</html>