<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Informações sobre a empresa:</h1>
    <hr>
    <p>Fundação: 2015, São Paulo, SP</p> <hr>
    <p>Setor: Tecnologia da Informação e Consultoria</p> <hr>
    <p>Serviços: Desenvolvimento de software, consultoria em transformação digital, cloud computing, segurança cibernética</p> <hr>
    <p>Missão: Capacitar empresas com soluções tecnológicas inovadoras</p> <hr>
    <p>CEO: Ana Silva</p> <hr>
    <p>Diferenciais: Expertise técnica, atendimento personalizado, foco em inovação</p> <hr>
</body>
</html>