<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de serviços de Marketing:</h1>
    <ul>
        <li>Marketing de Conteúdo: Criação e distribuição de conteúdos relevantes (artigos, vídeos, infográficos, etc.) para
            atrair e engajar o público-alvo.</li>
        <li>Gestão de Mídias Sociais: Criação e gerenciamento de perfis e campanhas em plataformas como Facebook, Instagram,
            Twitter, LinkedIn, etc.</li>
        <li>E-mail Marketing: Criação de campanhas de e-mail para promover produtos, serviços ou conteúdos relevantes para uma
            base de contatos.</li>
        <li>Marketing de Influência: Parcerias com influenciadores para promover produtos ou serviços para seu público-alvo.</li>
    </ul>
</body>
</html>