<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista com todos os serviços:</h1>
    <ul>
        <h3>Web:</h3>
        <li>Desenvolvimento de Websites: Criação de sites personalizados usando linguagens</li>
        <li>SEO (Otimização para Motores de Busca): Melhorar o posicionamento de um site nos resultados de pesquisa do Google e
            outros motores de busca.</li>
        <li>Hospedagem de Sites: Fornecimento de espaço em servidores para armazenar sites e mantê-los online.</li>
        <li>Manutenção de Websites: Atualizações regulares, correções de bugs, otimização de desempenho e backup de dados.</li>
        <hr>
        <h3>Marketing:</h3>
        <li>Marketing de Conteúdo: Criação e distribuição de conteúdos relevantes (artigos, vídeos, infográficos, etc.) para
            atrair e engajar o público-alvo.</li>
        <li>Gestão de Mídias Sociais: Criação e gerenciamento de perfis e campanhas em plataformas como Facebook, Instagram,
            Twitter, LinkedIn, etc.</li>
        <li>E-mail Marketing: Criação de campanhas de e-mail para promover produtos, serviços ou conteúdos relevantes para uma
            base de contatos.</li>
        <li>Marketing de Influência: Parcerias com influenciadores para promover produtos ou serviços para seu público-alvo.</li>
    </ul>
</body>
</html>