<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços Web</title>
</head>
<body>
    <h1>Lista de serviços relacionados à Web:</h1>
    <ul>
        <li>Desenvolvimento de Websites: Criação de sites personalizados usando linguagens</li>
        <li>SEO (Otimização para Motores de Busca): Melhorar o posicionamento de um site nos resultados de pesquisa do Google e
            outros motores de busca.</li>
        <li>Hospedagem de Sites: Fornecimento de espaço em servidores para armazenar sites e mantê-los online.</li>
        <li>Manutenção de Websites: Atualizações regulares, correções de bugs, otimização de desempenho e backup de dados.</li>
    </ul>
</body>
</html>