<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Eventos futuros da minha cidade fictícia:</h1>
    <ul>
        <li>Feira de Gastronomia Local <br>
            Data: 22 de setembro de 2024 <br>
            Descrição: Feira com barracas de comida de diversos restaurantes locais, apresentações culinárias e degustações.</li> <hr>
        <li>Festival de Música Jovem <br>
            Data: 12 de outubro de 2024 <br>
            Descrição: Festival que reúne bandas e artistas locais, com foco em novos talentos e música independente.</li> <hr>
        <li>Semana Cultural <br>
            Data: 20 a 26 de outubro de 2024 <br>
            Descrição: Uma semana de eventos culturais incluindo teatro, dança, exibições de arte e palestras sobre história local.</li> <hr>
    </ul>
</body>
</html>