<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Eventos passados da minha cidade fictícia:</h1>
    <ul>
        <li>Festa Junina da Cidade Alegre <br>
            Data: 15 de junho de 2024 <br>
            Descrição: Celebração tradicional com quadrilha, barracas de comidas típicas e apresentações culturais.</li> <hr>
        <li>Festival de Cinema Independente <br>
            Data: 20 a 25 de julho de 2024 <br>
            Descrição: Exibição de filmes independentes e debates com cineastas.</li> <hr>
        <li>Semana do Livro Infantil <br>
            Data: 1 a 7 de agosto de 2024 <br>
            Descrição: Eventos para crianças, incluindo contação de histórias, oficinas de escrita e sessões de autógrafos com
            autores.</li> <hr>
    </ul>
</body>
</html>