<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos os Eventos</title>
</head>
<body>
    <h1>Lista com todos os eventos da  minha cidade fictícia:</h1>
    <h3>Eventos passados:</h3>
    <ul>
        <li>Festa Junina da Cidade Alegre <br>
            Data: 15 de junho de 2024 <br>
            Descrição: Celebração tradicional com quadrilha, barracas de comidas típicas e apresentações culturais.</li> <hr>
        <li>Festival de Cinema Independente <br>
            Data: 20 a 25 de julho de 2024 <br>
            Descrição: Exibição de filmes independentes e debates com cineastas.</li> <hr>
        <li>Semana do Livro Infantil <br>
            Data: 1 a 7 de agosto de 2024 <br>
            Descrição: Eventos para crianças, incluindo contação de histórias, oficinas de escrita e sessões de autógrafos com
            autores.</li> <hr>
    </ul>
    <h3>Eventos futuros:</h3>
    <ul>
        <li>Feira de Gastronomia Local <br>
            Data: 22 de setembro de 2024 <br>
            Descrição: Feira com barracas de comida de diversos restaurantes locais, apresentações culinárias e degustações.</li> <hr>
        <li>Festival de Música Jovem <br>
            Data: 12 de outubro de 2024 <br>
            Descrição: Festival que reúne bandas e artistas locais, com foco em novos talentos e música independente.</li> <hr>
        <li>Semana Cultural <br>
            Data: 20 a 26 de outubro de 2024 <br>
            Descrição: Uma semana de eventos culturais incluindo teatro, dança, exibições de arte e palestras sobre história local.</li> <hr>
    </ul>
</body>
</html>