<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Exercício 13</h1>
    <p>Cálculo de idade</p>
    <form method="POST">
        {% csrf_token %}
        Valor de A: <input type="number" name="a"> <br>
        Vlor de B: <input type="number" name="b"> <br>
        <br>
        <br>
        <button type="submit">Juntar partes</button>
    </form>
    {% if troca %}
        <h2>{{troca}}</h2>
    {% endif %}
    <br>
    <a href="{% url 'home' %}">Home</a>
</body>
</html>