<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Exercício 15</h1>
    <p>Exibir frase 3 vezes</p>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="frase"> <br>
        <br>
        <br>
        <button type="submit">Enviar</button>
    </form>
    {% if frase %}
        <h2>{{frase}}</h2>
        <h2>{{frase}}</h2>
        <h2>{{frase}}</h2>
    {% endif %}
    <br>
    <a href="{% url 'home' %}">Home</a>
</body>
</html>