<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Exercício 16</h1>
    <p>Calcular média de 4 números</p>
    <form method="POST">
        {% csrf_token %}
        Número 1: <input type="number" name="num1"> <br>
        Número 2: <input type="number" name="num2"> <br>
        Número 3: <input type="number" name="num3"> <br>
        Número 4: <input type="number" name="num4"> <br>
        <br>
        <button type="submit">Calcular</button>
    </form>
    {% if media %}
        <h2>Média: {{media}}</h2>
    {% endif %}
    <a href="{% url 'home' %}">Home</a>
</body>
</html>