<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Exercício 2</h1>
    <p>Exibir dois números somados</p>
    <form method="POST">
        {% csrf_token %}
        <input type="number" name="num1">
        <input type="number" name="num2">
        <button type="submit">Enviar</button>
    </form>
    {% if total %}
        <h2>Total: {{total}}</h2>
    {% endif %}
</body>
</html>