<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Exercício 5</h1>
    <p>Exibir as 5 palavras digitadas em uma só frase</p>
    <form method="POST">
        {% csrf_token %}
        1: <input type="text" name="palavra1"> <br>
        2: <input type="text" name="palavra2"> <br>
        3: <input type="text" name="palavra3"> <br>
        4: <input type="text" name="palavra4"> <br>
        5: <input type="text" name="palavra5"> <br>
        <br>
        <br>
        <button type="submit">Juntar frase</button>
    </form>
    {% if frase %}
        <h2>{{frase}}</h2>
    {% endif %}
    <br>
    <a href="{% url 'home' %}">Home</a>
</body>
</html>