<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Exercícios</h1>
    <a href="{% url 'ex1' %}">1 - Hello World</a> <br>
    <a href="{% url 'ex2' %}">2 - Dois números somados</a> <br>
    <a href="{% url 'ex3' %}">3 - Nome e idade na tela</a> <br>
    <a href="{% url 'ex4' %}">4 - Quantas letras a palavra digitada tem</a> <br>
    <a href="{% url 'ex5' %}">5 - 5 palavras digitadas em uma só frase</a> <br>
    <a href="{% url 'ex7' %}">7 - Número somado a ele mesmo</a> <br>
    <a href="{% url 'ex8' %}">8 - Número somado a um</a> <br>
</body>
</html>